

html, body{
	margin:0;
	padding: 0;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	/* overflow-y:hidden; */
	font-family: 'Fira Sans', sans-serif;
    scroll-behavior: smooth;
    
}
div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, .row, .col-xs-4, .col-xs-5, .col-xs-7,.container-fluid {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
body{
    
    background-image: url("../img/Background.jpg");
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    color:#fff;
    font-family: 'Open Sans', sans-serif;
    background-position: center;
}
.container-fluid{
    background-color: rgba(0, 0, 0, 0.75);
    height: auto;
}
.head{
    width:100%;
    /* height:10vh; */
    /* background-color:blue; */
}
.body{
    width:100%;
  
    /* background-color:white; */
}
.foot{
    width:100%;
    /* margin-top:100px; */
    /* background-color:red; */
}
.logo{
    width:auto;
    padding-top:5vh;
   text-align: center;
}
.navbar-nav>li{
    text-decoration: none;
    list-style: none;
    margin-right: 15px;
    margin-left:15px;
}
a{
    color:#fff;
}
a:hover{
    color:#fff;
    text-decoration: none;
    font-weight: bolder;
}
.ref{
    width:auto;
    padding-top:6vh;
    padding-right:5%;
}
/* .others{
    padding-left:10px;
} */
.touch{
    padding-bottom:5vh;
}
.inner{
    width:100%;
    /* height:80vh; */
    /* padding:20px 36% 20px 36%; */
    /* background-color: pink; */
}
.form_div{
    width: 100%;
    padding:20px 40% 20px 40%;
}
 .p{
    font-size:20px;
    padding:20px 36% 20px 36%;
    padding-bottom: 30px;
}
.h1{
    font-size:24px;
    width:150px;
    margin:auto;
    /* margin-bottom:10px; */
}
.p1{
    font-size:18px;
    width:550px;
    margin:auto;
    padding-top:20px;
    padding-bottom: 50px;
}
.h3{
    font-size:31px;
    font-weight: bolder;
    width:600px;
    margin:auto;
    padding-top: 30px;
}
.h2{
    margin-top: 80px;
    font-size:35px;
    font-weight: bolder;
    padding-bottom: 20px;
}

.form_input{
	height: 50px;
	border-radius: 10px;
	color: #fff;
	padding-left:20px; 
	background-color: #827f7f;
	display: block;
	width: 100%;
	background-image: none;
    border: 1px solid transparent;
}
.form_button{
	height: 50px;
	border-radius: 10px;
    color: #fff;
    width: 100%;
	text-align: center;
	background-image:  linear-gradient(to right, #10B1E5  0%, #6078EA 100%);
    border: 1px solid transparent;
}
::placeholder { 
    color: #fff; 
    font-size:16px;
     }

     @media(max-width: 767px) {
        .form_div{
            width: 100%;
            padding:10px 10% 10px 10%;
        }
         .p{
            font-size:14px;
            padding:10px 6% 10px 6%;
            padding-bottom: 10px;
        }
        .h1{
            font-size:20px;
        }
        .p1{
            font-size:14px;
            padding:10px 6% 10px 6%;
            width: auto;
            margin: 0;

        }
        .h3{
            font-size:16px;
            font-weight: bolder;
            padding:10px 6% 10px 6%;
            width: auto;
            margin: 0;
        }
        .h2{
            margin-top: 20px;
            font-size:16px;
            font-weight: bolder;
            padding-bottom: 0px;
            padding-top: 20px;
            width: auto;
            margin: 0;
        }
        .form_input{
            padding:10px;
            height:45px;
        }
        .body{
            margin-top: 12vh;
        }
        .logo{
            padding-left: 6%;
        }
        .ref {
            padding-right: 7%;
        }
     }